
body {
    background-color: #1E1E1E;
}

header {
    background-color: #4237ad;
    width: 100%;
}
#header {
	background-color: #e188db;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header .logo img {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.sub00 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    color: #000000;
}

.c0 {
    position: relative;
    font-family: "DM Serif Display", serif;
    font-size: 180px;
    color: #ffffff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 0%;
    margin-left: 40px;
    margin-top: 0%;
}

.sub1 {
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 100%;
}

.sub {
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.pap {
    width: 40%;
    display: inline-table;
    position: relative;
    float: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
    background-color: pink;
    align-items: center;
}

.p2{
 width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest {
    margin: 5%;
    float: left;
    justify-content: center;
}

.p1 {
    font-family: "Questrial", sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.p {
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    color: #ffffff;
    width: 80%;
    justify-content: center;
    padding-left: 10%;
}

.ult {
	padding: 20px;
}

/* contenido */

.link {
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rrss {
    background-color: #4237AD
;
    height: 150px;
    width: 300px;
    line-height: 1%;
    margin-left: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.srrss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nu {
	
}

#cont {
    background-color: #4237AD
;
    width: 70%;
    margin-left: 13%;
    margin-right: 15%;
    padding: 3%;
    display: inline-table;
    justify-content: center;
    align-items: center;
}

/* fotos e imagenes */

.sasha img {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 0%;
    overflow: hidden;
}

.nushin img {
    width: 300px;
    height: 300px;
    position: relative;
}

.dno img {
    width: 600px;
    height: 300px;
    position: relative;
    border-radius: 0%;
    overflow: hidden;
}


.imgpaper img {
    width: 100%;
}

.imgzine img {
    width: 100%;
}

/* related posts*/


.rep .relp img {
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 0%;
    overflow: hidden;
}

.rep2 .relp img {
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 0%;
    overflow: hidden;
}

.cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}

footer {
	margin-top: 10%;
	background-color: #e188db;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.kk {
	margin: 5px;

}

.footer {
			font-family: "Questrial", sans-serif;
		font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    }

.quote1 {
	margin: 5px;
}

.quote {
		font-family: "Questrial", sans-serif;
		font-weight: lighter;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}

.video1 {
		  display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
}









