
body{
	background-color: #E188DB
; /* https://www.w3schools.com/colors/colors_names.asp */  
	font-family: 'Open Sans', sans-serif;
}

tipografias

#cont .tit {
	font-family: 'DM Serif Display';
	font-size: 1000px;
	color: #ffffff;
}

.sub1 {
	font-family: 'Kanit', sans-serif;
	font-size: 50px;
	color: #ffffff;
}

.sub {
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	color: #ffffff;
}

.p1 {
	font-family: 'Questrial', sans-serif;
	font-size: 30px;
	color: #ffffff;
}

.p {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

#header {
  	background-color: #E188DB;
  	height: 80px;
  }

/* contenido */

.link {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

#cont {
	background-color: #183A60;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 3%;
}

/* fotos e imagenes */

#header .logo img {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 0%;
	overflow: hidden;
}

.logo img {
	width: 80px;
	height: 80px;
}

.sasha img {
	width: 300px;
	height: 300px;
	position: relative;
	border-radius: 0%;
	overflow: hidden;
}

.nushin img {
	width: 300px;
	height: 300px;
	position: relative;
	border-radius: 0%;
	overflow: hidden;
}

.dno img {
	width: 600px;
	height: 300px;
	position: relative;
	border-radius: 0%;
	overflow: hidden;
}

.rep .relp img {
	width: 500px;
	height: 300px;
	position: relative;
	border-radius: 0%;
	overflow: hidden;
}

.rep2 .relp img {
	width: 500px;
	height: 300px;
	position: relative;
	border-radius: 0%;
	overflow: hidden;
}

